################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Hotel-Reservations/.vs/Hotel-Reservations/v15/Server/sqlite3/db.lock
*./Common/HotelReservation.Core/bin/Debug/netcoreapp2.1
/Common/HotelReservation.Core/obj
/.vs
/Common/HotelReservation.Database/bin/Debug/netcoreapp2.1
*./Common/HotelReservation.Database/bin/
/Common/HotelReservation.Database/obj
/Common/HotelReservation.Domain/bin/Debug/netcoreapp2.1
/Common/HotelReservation.Domain/obj
/Hotel-Reservations/bin/Debug/netcoreapp2.1
/Hotel-Reservations/obj
/Common/HotelReservation.SQLServer/obj/Debug
/Common/HotelReservation.SQLServer/bin/Debug
/HotelReservation.Test/obj
*./HotelReservation.Test/bin/
/HotelReservation.Test/bin/Debug/netcoreapp2.1/nunit_random_seed.tmp
/HotelReservation.Test/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.pdb
/HotelReservation.Test/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.dll
/HotelReservation.Test/bin/Debug/netcoreapp2.1/nunit.engine.netstandard.dll
/HotelReservation.Test/bin/Debug/netcoreapp2.1/Mono.Cecil.dll
/HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Test.runtimeconfig.json
/HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Test.runtimeconfig.dev.json
/HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Test.pdb
/HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Test.dll
/HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Test.deps.json
*./HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Database.pdb
*./HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Database.dll
/HotelReservation.Test/bin/Debug/netcoreapp2.1
/Common/HotelReservation.SQLServer/HotelReservation.SQLServer.dbmdl
*.jfm
/HotelReservationLIB/obj/project.assets.json
/HotelReservationLIB/obj/HotelReservation.LIB.csproj.nuget.g.targets
/HotelReservationLIB/obj/HotelReservation.LIB.csproj.nuget.g.props
/HotelReservationLIB/obj/HotelReservation.LIB.csproj.nuget.cache
/HotelReservationLIB/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/HotelReservationLIB/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/HotelReservationLIB/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/HotelReservationLIB/obj/Debug/netcoreapp2.1/HotelReservation.LIB.pdb
/HotelReservationLIB/obj/Debug/netcoreapp2.1/HotelReservation.LIB.dll
/HotelReservationLIB/obj/Debug/netcoreapp2.1/HotelReservation.LIB.csproj.FileListAbsolute.txt
/HotelReservationLIB/obj/Debug/netcoreapp2.1/HotelReservation.LIB.csproj.CoreCompileInputs.cache
/HotelReservationLIB/obj/Debug/netcoreapp2.1/HotelReservation.LIB.assets.cache
/HotelReservationLIB/obj/Debug/netcoreapp2.1/HotelReservation.LIB.AssemblyInfoInputs.cache
/HotelReservationLIB/obj/Debug/netcoreapp2.1/HotelReservation.LIB.AssemblyInfo.cs
/HotelReservationLIB/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.pdb
/HotelReservationLIB/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.dll
/HotelReservationLIB/bin/Debug/netcoreapp2.1/nunit.engine.netstandard.dll
/HotelReservationLIB/bin/Debug/netcoreapp2.1/HotelReservation.LIB.pdb
/HotelReservationLIB/bin/Debug/netcoreapp2.1/HotelReservation.LIB.dll
/HotelReservationLIB/bin/Debug/netcoreapp2.1/HotelReservation.LIB.deps.json
/Hotel-Reservations/bin/Release/netcoreapp2.1/HotelReservation.Domain.pdb
/Hotel-Reservations/bin/Release/netcoreapp2.1/HotelReservation.Domain.dll
/Hotel-Reservations/bin/Release/netcoreapp2.1/HotelReservation.Database.pdb
/Hotel-Reservations/bin/Release/netcoreapp2.1/HotelReservation.Database.dll
/Hotel-Reservations/bin/Release/netcoreapp2.1/HotelReservation.Core.pdb
/Hotel-Reservations/bin/Release/netcoreapp2.1/HotelReservation.Core.dll
/Hotel-Reservations/bin/Release/netcoreapp2.1/Hotel-Reservations.pdb
/Hotel-Reservations/bin/Release/netcoreapp2.1/Hotel-Reservations.dll
/Hotel-Reservations/bin/Release/netcoreapp2.1/Hotel-Reservations.deps.json
/Common/HotelReservation.Core/bin/Release/netcoreapp2.1/HotelReservation.Database.dll
/Common/HotelReservation.Core/bin/Release/netcoreapp2.1/HotelReservation.Core.dll
/Common/HotelReservation.Core/bin/Release/netcoreapp2.1/HotelReservation.Core.deps.json
/Hotel-Reservations/bin/Release/netcoreapp2.1/Hotel-Reservations.runtimeconfig.json
/Hotel-Reservations/bin/Release/netcoreapp2.1/Hotel-Reservations.runtimeconfig.dev.json
/Common/HotelReservation.Database/bin/Release/netcoreapp2.1/HotelReservation.Database.dll
/Common/HotelReservation.Database/bin/Release/netcoreapp2.1/HotelReservation.Database.deps.json
/HotelReservationLIB/obj/Debug/netcoreapp2.1/HotelReservation.LIB.csprojAssemblyReference.cache
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.pdb
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.dll
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/nunit.engine.netstandard.dll
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/Microsoft.AspNetCore.Http.Abstractions.xml
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/Microsoft.AspNetCore.Http.Abstractions.dll
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/HotelReservation.LIB.pdb
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/HotelReservation.LIB.dll
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/HotelReservation.Domain.pdb
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/HotelReservation.Domain.dll
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/HotelReservation.Database.pdb
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/HotelReservation.Database.dll
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/HotelReservation.Core.pdb
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/HotelReservation.Core.dll
/Common/HotelReservation.Core/bin/Debug/netcoreapp2.1/HotelReservation.Core.deps.json
