################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Hotel-Reservations/.vs/Hotel-Reservations/v15/Server/sqlite3/db.lock
*./Common/HotelReservation.Core/bin/Debug/netcoreapp2.1
/Common/HotelReservation.Core/obj
/.vs
/Common/HotelReservation.Database/bin/Debug/netcoreapp2.1
*./Common/HotelReservation.Database/bin/
/Common/HotelReservation.Database/obj
/Common/HotelReservation.Domain/bin/Debug/netcoreapp2.1
/Common/HotelReservation.Domain/obj
/Hotel-Reservations/bin/Debug/netcoreapp2.1
/Hotel-Reservations/obj
/Common/HotelReservation.SQLServer/obj/Debug
/Common/HotelReservation.SQLServer/bin/Debug
/HotelReservation.Test/obj
*./HotelReservation.Test/bin/
/HotelReservation.Test/bin/Debug/netcoreapp2.1/nunit_random_seed.tmp
/HotelReservation.Test/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.pdb
/HotelReservation.Test/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.dll
/HotelReservation.Test/bin/Debug/netcoreapp2.1/nunit.engine.netstandard.dll
/HotelReservation.Test/bin/Debug/netcoreapp2.1/Mono.Cecil.dll
/HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Test.runtimeconfig.json
/HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Test.runtimeconfig.dev.json
/HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Test.pdb
/HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Test.dll
/HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Test.deps.json
*./HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Database.pdb
*./HotelReservation.Test/bin/Debug/netcoreapp2.1/HotelReservation.Database.dll
/HotelReservation.Test/bin/Debug/netcoreapp2.1
/Common/HotelReservation.SQLServer/HotelReservation.SQLServer.dbmdl
*.jfm