<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="" value=""/>
  </appSettings>  
  <connectionStrings>
    <add name="HotelReservation.Database" connectionString="Server=cv.angular.database.windows.net;Database=hotel-reservation;User Id=cv.angular;Password=J@P0N#21;"/>
  </connectionStrings>
</configuration>